.app__projects {
    width: 100%;
    background-color: #FFDC53;
    margin-top: 25%;
    padding-bottom: 10%;
}

.app__projects-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__projects-title h1 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #202020;
    font-size: 7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app__projects-container {
    width: 99vw;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 3rem;
}

.app__projects-card-container {
    width: 30vw;
    min-height: 75vh;
    transition: all ease-in-out .4s;
    background-color: #202020;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 45px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 45px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 45px -12px rgba(0, 0, 0, 0.75);
}

.app__projects-card-container:hover {
    opacity: 0.95;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.app__projects-card-container img {
    width: 100%;
}

.app__projects-text-container {
    width: inherit;
}

.app__projects-text-container h3 {
    color: white;
    border-top: 3px dotted #FFDC53;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    padding-left: 5%;
    padding-top: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app__projects-text-container h4 {
    font-family: 'Anybody', cursive;
    font-weight: 200;
    color: white;
    font-size: 1.25rem;
    text-align: start;
    width: 90%;
    padding-left: 7%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app__projects-text-container div {
    font-family: 'Anybody', cursive;
    font-weight: 400;
    color: white;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags span {
    font-size: 1.25rem;
    margin: 0.25rem;
    margin-top: 1rem;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app__projects-text-container div a button {
    margin: 1rem;
    margin-top: 1.75rem;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    border-width: 0.1rem;
    color: #202020;
    border-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: #FFDC53;

    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.app__projects-text-container div a button:hover {
    cursor: pointer;
    background: #202020;
    color: white;
    border: 1px solid white;
}

.app__projects-text-container div a button:after {
    content: "";
    background: #202020;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.app__projects-text-container div a button:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

@media screen and (max-width: 1550px) {
    .app__projects-card-container {
        width: 40vw;
    }
    .tags span {
        font-size: 1rem;
        margin: 0.25rem;
        color: white;
    }
}

@media screen and (max-width: 1050px) {
    .app__projects {
        margin-top: 50%;
    }

    .app__projects-container {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1rem;
    }

    .app__projects-card-container:hover {
        transform: scale(1) rotate(0deg);
    }

    .tags span {
        font-size: 0.75rem;
        margin: 0.25rem;
        color: white;
    }

    .app__projects-text-container div a button {
        margin: 0.5rem;
        font-size: 1.25rem;
        width: 8rem;
        height: 2rem;
    }
}

@media screen and (max-width: 680px) {
    .app__projects-title h1 {
        font-size: 4rem;
    }

    .app__projects {
        margin-top: 85%;
    }

    .app__projects-container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        grid-template-columns: auto;
    }

    .app__projects-card-container {
        width: 90vw;
    }

    .app__projects-text-container div a button {
        
        margin-top: 1.5rem;

    }
}