.app__projects {
    width: 100%;
    background-color: #FFDC53;
    margin-top: 25%;
    padding-bottom: 10%;
}

.app__projects-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__projects-title h1 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #202020;
    font-size: 7rem;
}

.app__projects-container {
    width: 99vw;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 3rem;
}

.app__projects-card-container {
    width: 45vw;
    transition: all ease-in-out .4s;
    background-color: #202020;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 10px 10px 45px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 45px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 45px -12px rgba(0, 0, 0, 0.75);
}

.app__projects-card-container:hover {
    transform: scale(1.05) rotate(0.1deg);
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.app__projects-card-container img {
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    width: 100%;
}

.app__projects-text-container {
    width: inherit;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.app__projects-text-container h3 {
    color: white;
    border-top: 3px dotted #FFDC53;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    padding-left: 5%;
    padding-top: 0.5rem;
}

.app__projects-text-container h4 {
    font-family: 'Anybody', cursive;
    font-weight: 200;
    color: white;
    font-size: 1.25rem;
    text-align: start;
    width: 90%;
    padding-left: 7%;
    margin: 0;
}

.app__projects-text-container div {
    font-family: 'Anybody', cursive;
    font-weight: 400;
    color: white;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags span {
    font-size: 1.25rem;
    margin: 0.25rem;
    color: white;
}

.app__projects-text-container div a button {
    margin: 1rem;
    font-size: 1.5rem;
    width: 12rem;
    height: 3rem;
    border-width: 0.1rem;
    color: #202020;
    border-color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: #FFDC53;
}

.app__projects-text-container div a button:hover {
    cursor: pointer;
    background: #202020;
    color: white;
}

@media screen and (max-width: 1050px) {
    .app__projects {
        margin-top: 50%;
    }

    .app__projects-container {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1rem;
    }

    .app__projects-card-container:hover {
        transform: scale(1) rotate(0deg);
    }

    .tags span {
        font-size: 0.75rem;
        margin: 0.25rem;
        color: white;
    }
    .app__projects-text-container div a button {
        margin: 0.5rem;
        font-size: 1.25rem;
        width: 8rem;
        height: 2rem;
    }
}

@media screen and (max-width: 680px) {
    .app__projects-title h1 {
        font-size: 4rem;
    }

    .app__projects {
        margin-top: 85%;
    }

    .app__projects-container {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        grid-template-columns: auto;
    }

    .app__projects-card-container {
       width: 90vw;
    }

}