.app__navbar {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
}

.app__navbar-logo {
    width: 10%;
    margin-left: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 5rem;
    height: 6rem;
}

.app__navbar-hamburguer {
    display: none;
}

.app__navbar-list-container {
    width: 80%;
}

.app__navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__navbar-list a {
    color: white;
    margin-right: 3rem;
    text-decoration: none;
    list-style: none;
}

.app__navbar-list a:hover {
    color: #FFDC53;
}

.app__navbar-list li {
    font-size: 1.5rem;
    font-family: 'Anybody', cursive;
    font-weight: 200;
}

.app__navbar-icons {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

@media screen and (max-width: 1050px) {
    .app__navbar-list-container {
        display: none;
    }

    .app__navbar-icons {
        display: none;
    }

    .app__navbar-hamburguer {
        position: absolute;
        top: 15%;
        width: 100%;
        height: 76%;
        display: grid;
    }

    .app__navbar-hamburguer-list {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.76);
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;
        row-gap: 1.5rem;
        animation-duration: 0.5s;
        animation-name: slidein;
        background-color: #313131;

    }

    .app__navbar-svg-container {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app__navbar-hamburguer-list a {
        color: white;
        text-decoration: none;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app__navbar-hamburguer-list li {
        font-size: 1.5rem;
        font-family: 'Anybody', cursive;
        font-weight: 200;
    }

    .app__navbar-hamburguer-list svg {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .app__navbar-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
    }

    .cross-icon {
        position: absolute;
        left: 80%;
        color: rgb(236, 228, 228);
        width: 5rem;
        height: 6rem;
    }

    .hamburguer-icon {
        position: absolute;
        left: 80%;
        color: rgb(236, 228, 228);
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (max-width: 720px) {
    .app__navbar-hamburguer {
        width: 44.5rem;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar-hamburguer {
        width: 100vw;
    }

    .cross-icon {
        position: relative;
        left: 52%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .hamburguer-icon {
        position: relative;
        left: 52%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1rem;
    }
}